/* Tiny screens and up. */
@media screen {
    #main > nav > aside > ol {
        font-family: "Inconsolata", monospace;
        font-size: 12pt;
    }

    #main > nav > menu  {
        padding: 0 1em;
    }

    section.documentation,
    section.project_summary,
    section.project_list {
        background-color: #222;
        padding: 1em;
        min-height: 10em;

        box-shadow: 5px 5px 10px 0 black;
        border-radius: 20px 5px 5px 5px;
    }

    section.project_list > table {
        width: 100%;

        border-collapse: collapse;
    }

    section.project_list > table > thead > tr > * {
        padding-bottom: 0.5em;
        border-bottom: 1px solid;
    }

    section.project_list > table > tbody > tr > * {
        padding-top: 0.5em;
    }

    section.project_list > table > * > tr > .name {
        width: 12em;
    }

    section.project_list > table > * > tr > .time {
        width: 12em;
    }

    section.project_list > table > tbody > tr > .time {
        font-size: 10pt;
        text-align: right;
    }

    section.documentation > h1 {
        font-family: "Inconsolata", monospace;
    }

    section.documentation .declaration {
        font-family: "Inconsolata", monospace;

        color: #eee;
        text-shadow: 4px 2px 5px black;

        font-size: 12pt;
    }

    body.js section.documentation .declaration {
        cursor: pointer;
    }

    body.js section.documentation .declaration.expandable:before {
        content: "+";
        margin-right: 0.5em;

        color: #0f4;
        text-shadow: 4px 2px 5px black;
    }

    body.js section.documentation .declaration.expandable.open:before {
        content: "-";

        color: #f04;
    }

    section.documentation .declaration > .name {
        color: #84D284;
    }

    section.documentation .declaration > .template_constraint {
        font-style: italic;
    }

    section.documentation.hide_template_constraints
    .declaration > .template_constraint {
        display: none;
    }

    section.documentation .parameter_list {
    }

    section.documentation .declaration .parameter_name,
    section.documentation .parameter_list > dt > .parameter_name {
        color: #84D284;
    }

    body.js section.documentation .definition {
        font-size: 12pt;
    }

    body.js section.documentation .definition:not(.open) > :not(.summary) {
        display: none;
    }

    section.documentation > div > .summary,
    section.documentation .definition > .summary {
        box-sizing: border-box;
        -moz-box-sizing: border-box;

        padding: 0 0.25em;
        max-width: 35em;

        font-size: 12pt;
    }

    section.documentation .parameter_list.caption {
        font-weight: bold;
    }

    section.documentation .parameter_list {
        margin: 0.5em 0;
        padding: 0.5em 1em;

        background-color: #2d2d2d;
        color: #fff;
    }

    section.documentation .parameter_list > dt {
        display: inline-block;
        margin: 0.25em 0;

        font-size: 1em;
    }

    section.documentation .parameter_list > dt > .parameter_name {
    }

    section.documentation .parameter_list > dd {
        margin: 0 0 0 1em;
    }

    section.documentation .parameter_list > dd:after {
        content: "\A";
        white-space: pre;
    }

    section.documentation pre > code {
        font-size: 12pt;
        padding-left: 0;
    }
}

/* Small size screens and up */
@media screen and (min-width: 48em) {
    section.documentation .definition {
        margin-left: 2em;
    }
}

/* Medium size screens and up */
@media screen and (min-width: 62em) {
    #main > nav > menu  {
        padding: 0 1em;
    }

    #main > nav > menu > button {
        width: 100%;
    }
}

/* Large screens */
@media screen and (min-width: 75em) {
}
