{% load tz %}
{% load compressed %}
{% get_current_timezone as time_zone %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    {% compressed_js "global" %}
    {% compressed_css "global" %}

    <!-- Licenses for software used in this page. -->
    <link rel="license" type="text/plain" href="{{STATIC_URL}}text/highlight_license" title="Licence for hightlight.js" />

    {% block head %}{% endblock %}
  </head>
  <body>
    <header>
      <h1 class="site_title"><a class="site_link" href="/">w0rpzone</a></h1>
      <nav>
        <!-- Icons by Dan Leech - http://www.iconarchive.com/artist/danleech.html -->
        <ul>
          <li>
            <a href="https://github.com/w0rp">
              <img src="{{STATIC_URL}}image/simpleicons/github.png" alt="GitHub"
              title="View, run, or modify my code (including this website)"
              />
            </a>
          </li>
          <li>
            <a href="https://twitter.com/w0rp">
              <img src="{{STATIC_URL}}image/simpleicons/twitter.png" alt="Twitter"
              title="Follow me on Twitter!"
              />
            </a>
          </li>
          <li>
            <a href="https://www.youtube.com/hyperw0rp/videos">
              <img src="{{STATIC_URL}}image/simpleicons/youtube.png" alt="YouTube"
              title="Watch my videos on YouTube"
              />
            </a>
          </li>
          <li>
            <a href="https://steamcommunity.com/id/w0rp">
              <img src="{{STATIC_URL}}image/simpleicons/steam.png" alt="Steam"
              title="Play video games with me on Steam"
              />
            </a>
          </li>
          <li>
            <a href="https://soundcloud.com/w0rp">
              <img src="{{STATIC_URL}}image/simpleicons/soundcloud.png" alt="Sound Cloud"
              title="Listen to my free music and spoken word tracks"
              />
            </a>
          </li>
        <!-- Additional email icon by dAKirby309 - http://www.iconarchive.com/artist/dakirby309.html -->
          <li>
            <a href="mailto:devw0rp@gmail.com">
              <img src="{{STATIC_URL}}image/email.png" alt="Email"
              title="Send me an email"
              />
            </a>
          </li>
          <li>
            <a href="{% url "article-feed" %}">
              <img src="{{STATIC_URL}}image/simpleicons/rss.png" alt="Sound Cloud"
              title="Subscribe to my articles"
              />
            </a>
          </li>
        </ul>
      </nav>
      <menu>
        <a class="site_nav_link{% if main_nav == 'blog' %} active{% endif %}" href="{% url "blog-home" %}">Blog</a>
        <a class="site_nav_link{% if main_nav == 'project' %} active{% endif %}" href="{% url "project-list" %}">Projects</a>

        <!-- Settings Icon by dAKirby309 - http://www.iconarchive.com/artist/dakirby309.html -->
        <a class="settings" href="{% url "settings" %}"><img src="{{STATIC_URL}}image/settings.png" alt="Settings" title="Settings" /></a>
      </menu>
      {% block root_nav %}{% endblock %}
    </header>
    <div id="main">
      {% block main %}{% endblock %}
    </div>
    <footer>
      {% block footer %}{% endblock %}
    </footer>
  </body>
</html>
