/*
 * author: Raph Levien
 * url: http://www.levien.com/type/myfonts/inconsolata.html
 */
@font-face {
    font-family: "Inconsolata";
    font-weight: normal;

    src: local("Inconsolata"),
         url("/media/font/Inconsolata.otf") format("opentype"),
         url("/media/font/Inconsolata.woff") format("woff");
}
