/* Tiny screens and up. */
@media screen {
    input, textarea {
        background-color: #111;
        color: white;
    }

    textarea {
        resize: vertical;
    }

    /* Articles */
    article:not(:first-child) {
        margin-top: 1em;
    }

    article {
        background-color: #222;
        color: #eee;
    }

    article,
    section.comment {
        padding: 0.5em 1em;
        font-size: 14pt;

        word-wrap: break-word;
    }

    article pre > code,
    section.comment pre > code {
        font-size: 10pt;
    }

    article > .post a {
        color: #84D284;
        text-decoration: none;
    }

    article > .post a:before {
        /* Right arrow, space */
        content: "\2192\a0";
    }

    article h2,
    article h3,
    article h4,
    article h5 {
        margin: 0.5em 0;
    }

    article strong,
    section.comment strong {
        font-weight: bold;
        color: #afa;
    }

    /* The article header */

    article > header {
        margin-bottom: 0.25em;
    }

    article > header h1 {
        margin: 0.5em 0;
        font-size: 18pt;
    }

    article > header .article_link {
        text-decoration: none;
    }

    article > header .article_link:hover {
        text-decoration: underline;
    }

    ul.post_metadata {
        margin: 0;
        padding: 0.125em 0.25em;
        margin-bottom: 0.5em;

        background-color: #262626;
        color: #4C8E79;

        font-family: "Inconsolata", monospace;

        font-size: 1.5em;
    }

    ul.post_metadata > li {
        display: inline-block;
        margin: 0;
    }

    ul.post_metadata > li.author > .name {
        font-style: normal;
    }

    ul.post_metadata > li.author > .name:before {
        content: "by ";
    }

    ul.post_metadata > li.creation_time {
    }

    ul.post_metadata > li.creation_time:before {
        content: "on ";
        margin-left: 16px;
    }

    section.comment_list > h2 {
        margin: 0.5em;

        font-size: 24pt;
    }

    section.comment_list > form .markdown_help {
        padding-left: 1em;
    }

    section.comment_list > form .markdown_help a {
        color: #84D284;
        text-decoration: none;
    }

    section.comment_list > form .markdown_help a:before {
        /* Right arrow, space */
        content: "\2192\a0";
    }

    section.comment_list > form .markdown_help pre code {
        font-size: 14pt;
    }

    section.comment_list > form .markdown_help.brief {
        display: none;
    }

    section.comment_list > form .markdown_help.brief.active {
        display: block;
    }

    section.comment_list > form .markdown_help.full {
        display: none;
    }

    section.comment_list > form .markdown_help.full.active {
        display: block;
    }

    section.comment_list > form .markdown_help.full .help_topic {
        display: none;
    }

    section.comment_list > form .markdown_help.full .help_topic.active {
        display: block;
    }

    section.comment_list > form .markdown_help .help_tabs .tab.active {
        background-color: #447;
        color: #FFF;
    }

    section.comment_list > form .markdown_help .help_tabs .tab {
        cursor: pointer;
    }

    section.comment_list > form > ul label {
        width: 10em;
    }

    section.comment_list > form > ul > li > * {
        font-size: 12pt;
    }

    section.comment_list > form > ul input,
    section.comment_list > form > ul textarea {
        width: -webkit-calc(100% - 11em);
        width: -moz-calc(100% - 11em);
        width: calc(100% - 11em);

        margin-right: 1em;
    }

    section.comment {
        background-color: #222;
        color: #eee;
    }

    section.comment:not(.first) {
        margin-top: 1em;
    }

    section.comment.preview {
        display: none;
    }

    section.comment > header a {
        cursor: inherit;
    }

    section.comment > header > .buttons {
        display: block;
        margin: 0.5em 0 1em 0;
    }

    section.comment > header .poster_name {
        display: block;
        font-size: 2em;
    }

    /* The blog site footer */
    body > footer {
        clear: both;

        padding: 1em;
        margin-bottom: 2em;

        background-color: #2b2b2b;
        color: white;
    }

    body > footer > * {
        font-size: 10pt;
    }

    body > footer > .license {
        text-align: center;
    }

    body > footer > .license * {
        vertical-align: middle;
    }

    body > footer > .license a.license_image_link {
        text-decoration: none;

        margin-right: 1em;
    }

    /* Forms */
    form > ul {
        list-style-type: none;

        margin: 0;
        padding: 0;
    }

    form > ul label {
        display: inline-block;
    }

    form > ul > li > * {
        vertical-align: middle;
    }

    form > ul > li > label {
        text-align: right;
        padding: 0 1em;
    }

    form > ul > li {
        margin-top: 1em;
    }

    form > ul > li:first-child {
        margin-top: 0;
    }

    form > ul > li {
        text-align: left;
    }

    form > ul > li.buttons {
        text-align: center;
    }

    form > ul > li.buttons > button,
    form > ul > li.buttons > .button {
        padding: 1em;
    }

    form > ul > li.error > label {
        font-style: italic;
    }

    form > ul > li > ul.errorlist {
        background-color: #7D3535;
        color: white;

        display: block;

        padding: 0.5em 1em;
        margin: 0 0 1em 0;

        list-style-type: none;
    }

    form > ul > li > ul.errorlist > li {
        display: inline-block;

        font-weight: bold;
    }
}

/* Small size screens and up */
@media screen and (min-width: 48em) {
}

/* Medium size screens and up */
@media screen and (min-width: 62em) {
    #main > .content > .page_navigation {
        margin-bottom: 3em;
    }

    article:not(:first-child),
    section.comment {
        margin-top: 1.5em;
    }

    article,
    section.comment {
        padding: 0.5em 2em;
    }

    article pre > code,
    section.comment pre > code {
        font-size: 12pt;
    }

    input, textarea {
        border: 1px solid white;

        padding: 0.5em;
    }

    textarea {
        /* Stop shrinking when size + padding is hit. */
        min-height: 2em;
        /* Enough initial height for 5 lines with padding. */
        height: 6.5em;
    }
}

/* Large screens */
@media screen and (min-width: 75em) {
}
