{% extends "programming_projects/project_base.dj.htm" %}
{% load text_formatting %}

{% block script %}
  {{block.super}}

  <script type="text/javascript" src="{{STATIC_URL}}js/project/doc.js"></script>
{% endblock %}

{% block top_nav %}
  <menu>
    <button type="button" class="toggled constraint_toggle">Toggle Constraints</button>
  </menu>
{% endblock %}

{% block content %}
  <section class="documentation content">
    <h1>{{module.namespace|word_break_on:"."}}</h1>
    {{doc_body}}
  </section>
{% endblock %}
