{% extends "global.dj.htm" %}
{% load text_formatting %}

{% block head %}
  {{block.super}}

  <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/project/project.css" />
{% endblock %}

{% block main %}
  {% block content %}{% endblock %}
  <nav class="module_nav">
    <aside>
      <header><a href="{% url "project-summary" project_slug=project.slug %}">{{project.name}}</a></header>
      <ol>
        {% for module in project.module_list %}
          <li>
            <a href="{% url "doc-single" project_slug=project.slug location=module.location %}">{{module.namespace|word_break_on:"."}}</a>
          </li>
        {% endfor %}
      </ol>
    </aside>
    {% block top_nav %}{% endblock %}
  </nav>
{% endblock %}

{% block footer_wrapper %}{% endblock %}
