{% load tz %}
{% load markdown %}

<article>
  <header>
    {% if user.is_authenticated %}
      <a href="{% url "blog.views.edit_article_view" article.slug %}">
        <button type="button" class="edit_post">Edit Post</button>
      </a>
    {% endif %}
    {% if not full_article %}
      {% url "article-detail" slug=article.slug as article_url %}
      <h2><a class="article_link" href="{{ article_url }}">{{article.title}}</a></h2>
    {% else %}
      <h2>{{ article.title }}</h2>
    {% endif %}
    <ul class="post_metadata">
      <li class="author"><a class="name">{{ article.author }}</a></li>
      <li class="creation_date">
      {% localtime on %}
        <span class="date">{{ article.creation_date | date:"d F Y" }}</span>
        <span class="time">{{ article.creation_date | date:"H:i" }}</span>
      {% endlocaltime %}
      </li>
    </ul>
  </header>
  {% if full_article %}
    <div class="post">
      {{ article.content | unsafe_markdown }}
    </div>
  {% endif %}
</article>
