{% load tz %}
{% load markdown %}

{% get_current_timezone as time_zone %}

<article itemscope itemtype="http://schema.org/Article">
  <header>
    {% if user.is_authenticated %}
      <a class="button" href="{{article.edit_url}}">
        Edit Post
      </a>
    {% endif %}
    {% if not full_article %}
      {% url "article-detail" slug=article.slug as article_url %}
      <h1 itemprop="name"><a class="article_link" href="{{article_url}}" itemprop="url" content="https://w0rp.com{{article_url}}">{{article.title}}</a></h1>
    {% else %}
      <h1 itemprop="name">{{ article.title }}</h1>
    {% endif %}
    <ul class="post_metadata">
      {% spaceless %}
      <li class="author">
        <a class="name" itemprop="author" {% if article.author.email %} href="mailto:{{article.author.email}}"{% endif %}>{{ article.author }}</a>
      </li>
      <li class="creation_time" itemprop="datePublished" content="{{article.creation_date.isoformat}}">
        {{article.creation_date|localtime|date:"SHORT_DATETIME_FORMAT"}}
      </li>
      {% endspaceless %}
    </ul>
  </header>
  {% if full_article %}
    <section class="post" itemprop="articleBody">
      {{article.html_content}}
    </section>
  {% endif %}
</article>
