{% extends "blog/base.dj.htm" %}

{% block head %}
  {{ block.super }}

  <title>Edit Post - w0rpzone</title>
{% endblock %}

{% block main %}
<div class="post_edit">
  <h1>Edit Articles</h1>

  {% include "blog/include/edit_list_nav.dj.htm" %}
  <ul>
    {% for article in article_list %}
      {% url "edit-article" slug=article.slug as article_url %}
      <li>
        <a class="article_link" href="{{ article_url }}">{{article.title}}</a>
      </li>
    {% endfor %}
  </ul>
  {% include "blog/include/edit_list_nav.dj.htm" %}
</div>

{% endblock %}
