<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />

    <!-- Licenses for software used in this page. -->
    <link rel="license" type="text/plain" href="/media/text/highlight_license" title="Licence for hightlight.js" />

    {% if debug %}
    <script type="text/javascript" src="/media/js/jquery-2.0.3.js"></script>
    {% else %}
    <script type="text/javascript" src="/media/js/jquery-2.0.3.min.js"></script>
    {% endif %}

    <script type="text/javascript" src="/media/js/highlight.pack.js"></script>

    <script type="text/javascript" src="/media/js/soverflow_like_highlight.js"></script>

    <link rel="stylesheet" type="text/css" href="/media/css/inconsolata.css" />
    <link rel="stylesheet" type="text/css" href="/media/css/highlight_obsidian.css" />
    <link rel="stylesheet" type="text/css" href="/media/css/blog.css" />

    {% block head %}{% endblock %}
  </head>
  <body>
    <header>
      <h1 class="blog_title">The w0rpzone</h1>
    </header>
    <div id="main">
      <div id="content">{% block content %}{% endblock %}</div>
      <nav>
        <ul>
          <li>Article 1</li>
          <li>Article 2</li>
          <li>Article 3</li>
        </ul>
      </nav>
    </div>
    <footer>
      <div class="license">
        <a class="license_image_link" rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by/3.0/88x31.png" /></a>
        All blog content is licensed to respective authors under a
        <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.en_US">Creative Commons Attribution 3.0 Unported License</a>.
      </div>
    </footer>
  </body>
</html>
