{% extends "global.dj.htm" %}

{% block head %}
  <link rel="alternate" type="application/rss+xml" title="w0rpzone Articles Feed" href="/blog/latest/feed">

  <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/blog/main.css" />
{% endblock %}

{% block body %}
    <header>
      <h1 class="blog_title"><a class="blog_link" href="/blog">w0rpzone</a></h1>
      {% if user.is_authenticated %}
        <menu class="author_utils">
          <span class="description">Author Tools</span>
          <a class="button" href="{% url "blog.views.new_article_view" %}">
            Add New Post
          </a>
          <a class="button" href="{% url "article-edit-list" 1 %}">
            All Posts
          </a>
          <a class="button" href="{% url "django.contrib.auth.views.logout" %}?next={% url "blog-home" %}">
            Logout
          </a>
        </menu>
      {% endif %}
    </header>
    <div id="main">
      {% block main %}{% endblock %}
    </div>
    <footer>
      <div class="license">
        <a class="license_image_link" rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by/3.0/88x31.png" /></a>
        All blog content is licensed to respective authors under a
        <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.en_US">Creative Commons Attribution 3.0 Unported License</a>.
      </div>
    </footer>
{% endblock %}
