/* Base CSS styles for the entire website */

/* Reset absolutely everything to border-box, which makes more sense */
*, *:before, *:after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;

    font-family: "Droid Sans", sans-serif;
}

a {
    /* Reset link colors to inherit, so they don't differ. */
    color: inherit;
    cursor: pointer;
}

a.button,
button {
    padding: 0.5em;

    font-family: "Droid Sans", sans-serif;
    font-size: 12pt;
    text-decoration: none;

    border: 0;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    background-image: none;

    outline: none;

    cursor: pointer;
}

button:focus {
    outline: none;
}

button::-moz-focus-inner {
    border: 0;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.4em;
}

h2 {
    font-size: 1.3em;
}

h2 {
    font-size: 1.2em;
}

h5 {
    font-size: 1.1em;
}

textarea,
input {
    background-image: none;
}

button + button,
a.button + a.button,
button + a.button,
a.button + button {
    margin-left: 1em;
}

pre {
    white-space: pre-wrap;
}

code {
    font-family: "Inconsolata", monospace;
    font-weight: normal;

    /*
     * Reset the line height to inherit so it inline code spans
     * don't mess up line height.
     */
    line-height: inherit;
}

.ningen {
    display: none;
}

/* Tiny screens and up. */
@media screen {
}

/* Small size screens and up */
@media screen and (min-width: 48em) {
}

/* Medium size screens and up */
@media screen and (min-width: 58em) {
}

/* Large screens */
@media screen and (min-width: 75em) {
}
