/* Base CSS styles for the entire website */

/* Reset absolutely everything to border-box, which makes more sense */
*, *:before, *:after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;

    font-family: "Droid Sans", sans-serif;
}

a {
    /* Reset link colors to inherit, so they don't differ. */
    color: inherit;
    cursor: pointer;
}

a.button,
button {
    padding: 0.5em;

    font-family: "Droid Sans", sans-serif;
    font-size: 12pt;
    text-decoration: none;

    border: 0;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    background-image: none;

    outline: none;

    cursor: pointer;
}

button:focus {
    outline: none;
}

button::-moz-focus-inner {
    border: 0;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.4em;
}

h2 {
    font-size: 1.3em;
}

h2 {
    font-size: 1.2em;
}

h5 {
    font-size: 1.1em;
}

textarea,
input {
    background-image: none;
}

button + button,
a.button + a.button,
button + a.button,
a.button + button {
    margin-left: 1em;
}

pre {
    white-space: pre-wrap;
}

code {
    font-family: "Inconsolata", monospace;
    font-weight: normal;

    /*
     * Reset the line height to inherit so it inline code spans
     * don't mess up line height.
     */
    line-height: inherit;
}

.ningen {
    display: none;
}

/* Tiny screens and up. */
@media screen {
    #main > nav {
        margin-top: 4em;
    }

    a.button,
    button {
        background-color: #444;
        color: white;
    }

    a.button.toggled,
    button.toggled {
        background-color: white;
        color: #444;
    }

    body {
        background-color: #333;
        color: white;
    }

    body > header .site_title,
    body > header > nav {
        display: inline;
        margin: 16px 16px;
    }

    /* The blog site header */
    body > header .site_title {
        float: left;

        text-shadow: black 5px 5px 10px;
        font-family: "Inconsolata", monospace;
        font-size: 40pt;

        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }

    body > header .site_link {
        text-decoration: none;
    }

    body > header > nav {
        float: right;
    }

    body > header > nav > ul {
        display: inline;

        list-style-type: none;
        padding: 0;
    }

    body > header > nav > ul > li {
        display: inline-block;
        margin-right: 0.5em;
    }

    body > header > nav > ul > li:last-child {
        margin-right: 0;
    }

    body > header > nav > ul > li > a > img {
        width: 64px;
        height: 64px;
    }

    body > header > menu {
        clear: both;

        background-color: #222;
        color: white;

        padding: 1em;
    }

    body > header > menu.author_utils > .description {
        margin-right: 1em;
    }

    body > header > menu.author_utils > .description:after {
        content: ":";
    }

    body > header > menu > .site_nav_link {
        padding: 0.25em;

        text-decoration: none;
    }

    body > header > menu > .site_nav_link.active {
        font-weight: bold;
    }

    body > header > menu > .site_nav_link + .site_nav_link {
        margin-left: 0.5em;
        border-left: 1px solid #444;
        padding-left: 0.75em;
    }

    /* Main site navigation. */
    #main > nav {
        margin-bottom: 1em;

        background-color: #2a2a34;
        color: white;
    }

    #main > nav.fixed_when_big {
        position: static;
    }

    #main > nav > aside > header {
        text-align: center;
        font-size: 1.5em;

        color: #eee;
        background-color: #222;

        padding: 0.25em 0;
    }

    #main > nav > aside > ol {
        font-size: 14pt;
        padding: 0 0 0.5em 0;
        margin: 0.5em 0;

        list-style-type: none;
    }

    #main > nav > aside > ol > li {
        /* Aside lists are horizontal on small screens. */
        display: inline-block;

        margin-left: 1em;
    }

    #main > nav > aside > ol > li:not(:first-child) {
        margin-top: 0.25em;
    }

}

@media screen and (max-width: 799px) {
    body > header .site_title,
    body > header > nav {
        display: block;
        float: none;
    }

    body > header .site_title {
        text-align: center;
    }

    body > header > nav {
    }
}

/* Small size screens and up */
@media screen and (min-width: 48em) {
}

/* Medium size screens and up */
@media screen and (min-width: 62em) {
    body > header .site_title,
    body > header > nav {
        margin: 16px 0;
    }

    /* Set the size of the pages in general. */
    body > header,
    #main,
    body > footer {
        width: 60em;
        min-height: 1em;

        margin: 0 auto;
    }

    #main > .content {
        float: left;

        width: 44em;
    }

    /* Main site navigation as a sidebar */
    #main > nav {
        float: right;

        width: 14em;
        margin: 0 0 0 1em;
    }

    body > header > nav > ul > li > a > img {
        width: 48px;
        height: 48px;
    }

    #main > nav.fixed_when_big {
        position: fixed;
        top: 10px;
        overflow-x: hidden;
        overflow-y: auto;
    }

    #main > nav > aside > ol > li {
        /* Now the aside are on the side, make the lists vertical */
        display: list-item;
    }
}

/* Large screens */
@media screen and (min-width: 75em) {
    /* Increase sizes on larger screens. */
    body > header,
    #main,
    body > footer {
        width: 73em;
    }

    #main > .content {
        width: 53em;
    }

    #main > nav {
        width: 18em;
        margin: 0 0 0 1em;
    }
}
