<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
  </head>
  <body>
    <form method="post" action="{% url 'login' %}">
      {% csrf_token %}
      {{form.as_url}}

      <input type="hidden" name="next" value="{{ next }}" />

      <table>
      <tr>
          <td>{{ form.username.label_tag }}</td>
          <td>{{ form.username }}</td>
      </tr>
      <tr>
          <td>{{ form.password.label_tag }}</td>
          <td>{{ form.password }}</td>
      </tr>
      </table>

      <button name="submit">Submit</button>
    </form>
  </body>
</html>
